{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1 class="text-primary text-center">Nos séries :</h1>
    <div class="row d-flex justify-content-center">
        {% for program in programs %}
            {% include 'Program/_components/_card.html.twig' %}
        {% else %}
            Aucune série trouvée.
        {% endfor %}
    </div>
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}
