{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center mb-5">
            <h1 class="text-primary">{{ actor.name }}</h1>
        </div>
        <h2 class="text-primary text-center">Retrouver aussi {{ actor.name }} dans :</h2>
        <div class="row">
            {% for program in actor.programs %}
                {% include 'Program/_components/_card.html.twig' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
