.container {
    width: 100%;
    background-color: #222222;
}

.row {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: #e40404;
}

h1 {
    color: #e40404;
    text-align: center;
}

p {
    color: #ffffff;
    text-align: center;
}

ul {
    list-style: none;
}
li {
    color: #ffffff;
}
